In [2]:
#Load dependencieS:
import pandas as pd
from sqlalchemy import create_engine

# Extract CSVs into dataframes

In [2]:
#Load salary csv:
nba_salary_file = "Resources/NBA_season1718_salary.csv"
nba_salary_df = pd.read_csv(nba_salary_file)
nba_salary_df.head()

   Unnamed: 0          Player   Tm  season17_18
0           1   Stephen Curry  GSW   34682550.0
1           2    LeBron James  CLE   33285709.0
2           3    Paul Millsap  DEN   31269231.0
3           4  Gordon Hayward  BOS   29727900.0
4           5   Blake Griffin  DET   29512900.0

In [ ]:
#Load stats csv:
nba_stats_file = "Resources/Seasons_Stats.csv"
nba_stats_data_df = pd.read_csv(nba_stats_file)
nba_stats_data_df.head()

In [5]:
#Load player csv:
nba_player_file="Resources/player_data.csv"
nba_player_data_df=pd.read_csv(nba_player_file)
nba_player_data_df.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

# Transform dataframes

In [3]:
#Select columns from salary dataframe:
salary_cols = ["Player","Tm","season17_18"]
nba_salary = nba_salary_df[salary_cols].copy()
nba_salary = nba_salary.rename(columns = {"Tm":"Team","season17_18":"Salary"})
nba_salary.head()

           Player Team      Salary
0   Stephen Curry  GSW  34682550.0
1    LeBron James  CLE  33285709.0
2    Paul Millsap  DEN  31269231.0
3  Gordon Hayward  BOS  29727900.0
4   Blake Griffin  DET  29512900.0

In [4]:
#Group salary data by player and select maximum salary:
nba_salary_data = nba_salary.groupby(nba_salary["Player"]).max()
nba_salary_data

                    Team      Salary
Player
A.J. Hammons         MIA   1312611.0
Aaron Brooks         MIN   2116955.0
Aaron Gordon         ORL   5504420.0
Aaron Gray           DET    452059.0
Abdel Nader          BOS   1167333.0
Al Horford           BOS  27734405.0
Al Jefferson         IND   9769821.0
Al-Farouq Aminu      POR   7319035.0
Alan Williams        PHO   6000000.0
Alec Burks           UTA  10845506.0
Alex Abrines         OKC   5725000.0
Alex Len             PHO   4187599.0
Alex Poythress       IND    778668.0
Alexis Ajinca        NOP   4961798.0
Alfonzo McKinnie     TOR    815615.0
Allen Crabbe         BRK  19332500.0
Amir Johnson         PHI  11000000.0
Anderson Varejao     POR   1913345.0
Andre Drummond       DET  23775506.0
Andre Iguodala       GSW  14814815.0
Andre Roberson       OKC   9259259.0
Andrew Bogut         LAL   2328652.0
Andrew Harrison      MEM   1312611.0
Andrew Nicholson     POR   2844429.0
Andrew Wiggins       MIN   7574322.0
Ante Zizic           CLE   1645200.0
Anthony Davis        NOP  23775506.0
Anthony Tolliver     SAC   3290000.0
Antonius Cleveland   DAL     92160.0
Aron Baynes          BOS   4328000.0
...                  ...         ...
Tyler Zeller         MIL   1709538.0
Tyreke Evans         MEM   3290000.0
Tyson Chandler       PHO  13000000.0
Tyus Jones           MIN   1471382.0
Udonis Haslem        MIA   2328652.0
V.J. Beachem         LAL     50000.0
Vander Blue          LAL     50000.0
Victor Oladipo       IND  21000000.0
Vince Carter         SAC   8000000.0
Vince Hunter         MEM     50000.0
Wade Baldwin         POR   1874400.0
Walt Lemon, Jr.      NOP     92160.0
Wayne Ellington      MIA   6270000.0
Wayne Selden         MEM   1312611.0
Wesley Iwundu        ORL   1050000.0
Wesley Johnson       LAC   5881260.0
Wesley Matthews      DAL  17884176.0
Will Barton          DEN   3533333.0
Willie Cauley-Stein  SAC   3704160.0
Willie Reed          CHI   1577230.0
Willy Hernangomez    CHO   1435750.0
Wilson Chandler      DEN  12016854.0
Xavier Rathan-Mayes  MEM     46080.0
Yakuba Ouattara      BRK     50000.0
Yogi Ferrell         DAL   1312611.0
Zach Collins         POR   3057240.0
Zach LaVine          CHI   3202217.0
Zach Randolph        SAC  12307692.0
Zaza Pachulia        GSW   3477600.0
Zhou Qi              HOU    815615.0

[535 rows x 2 columns]

In [6]:
#Select columns from nba stats:
nba_stats_cols = ["Year","Player","G","FG","FGA","AST","PTS"]
nba_stats_df = nba_stats_data_df[nba_stats_cols].copy()
nba_stats_df.head()

     Year           Player     G     FG    FGA    AST    PTS
0  1950.0  Curly Armstrong  63.0  144.0  516.0  176.0  458.0
1  1950.0     Cliff Barker  49.0  102.0  274.0  109.0  279.0
2  1950.0    Leo Barnhorst  67.0  174.0  499.0  140.0  438.0
3  1950.0       Ed Bartels  15.0   22.0   86.0   20.0   63.0
4  1950.0       Ed Bartels  13.0   21.0   82.0   20.0   59.0

In [7]:
#Group by player and calculate totals:
nba_career_df = nba_stats_df.groupby(nba_stats_df["Player"]).sum()
nba_career_df

                       Year       G      FG      FGA     AST      PTS
Player
A.C. Green          35890.0  1361.0  4778.0   9686.0  1469.0  12928.0
A.J. Bramlett        2000.0     8.0     4.0     21.0     0.0      8.0
A.J. English         3983.0   151.0   617.0   1418.0   320.0   1502.0
A.J. Guyton          6006.0    80.0   166.0    440.0   147.0    442.0
A.J. Hammons         2017.0    22.0    17.0     42.0     4.0     48.0
A.J. Price          18120.0   287.0   600.0   1581.0   613.0   1656.0
A.J. Wynder          1991.0     6.0     3.0     12.0     8.0     12.0
A.W. Holt            1971.0     6.0     1.0      8.0     0.0      4.0
Aaron Brooks        30189.0   797.0  2829.0   6893.0  2485.0   7839.0
Aaron Gordon         6048.0   205.0   760.0   1652.0   311.0   1981.0
Aaron Gray          22125.0   387.0   509.0   1007.0   251.0   1235.0
Aaron Harrison       4033.0    26.0     5.0     23.0     5.0     19.0
Aaron James          9885.0   356.0  1609.0   3347.0   370.0   3829.0
Aaron McKie         34003.0   957.0  2554.0   5923.0  2462.0   6636.0
Aaron Miles          2006.0    19.0     6.0     18.0    24.0     16.0
Aaron Swinson        1995.0     9.0    10.0     18.0     3.0     24.0
Aaron Williams      40035.0   838.0  1777.0   3577.0   525.0   4618.0
Abdul Jeelani        3961.0   143.0   475.0   1005.0   160.0   1290.0
Acie Earl           11976.0   240.0   428.0   1076.0    81.0   1168.0
Acie Law            18090.0   265.0   379.0    898.0   419.0   1053.0
Adam Harrington      6009.0    38.0    22.0     74.0    24.0     60.0
Adam Keefe          17973.0   617.0  1120.0   2230.0   427.0   3107.0
Adam Morrison       10044.0   213.0   547.0   1475.0   263.0   1409.0
Adonal Foyle        28060.0   743.0  1325.0   2777.0   345.0   3006.0
Adonis Jordan        3993.0    10.0     8.0     27.0    22.0     21.0
Adonis Thomas        6042.0    12.0    12.0     28.0     6.0     28.0
Adreian Payne       10078.0   134.0   258.0    639.0    96.0    621.0
Adrian Branch        7954.0   130.0   331.0    727.0    96.0    834.0
Adrian Caldwell     15961.0   242.0   204.0    430.0    45.0    491.0
Adrian Dantley*     37694.0  1107.0  9217.0  17203.0  3254.0  26274.0
...                     ...     ...     ...      ...     ...      ...
Worthy Patterson     1958.0     4.0     3.0      8.0     2.0      7.0
Xavier Henry        10065.0   185.0   368.0    907.0   120.0   1050.0
Xavier McDaniel     27882.0   951.0  6263.0  12871.0  1962.0  14979.0
Xavier Munford       2016.0    14.0    32.0     77.0    22.0     80.0
Xavier Silas         2012.0     2.0     4.0     15.0     3.0     11.0
Yakhouba Diawara     8034.0   187.0   233.0    653.0   122.0    655.0
Yao Ming*           16053.0   486.0  3380.0   6445.0   769.0   9247.0
Yaroslav Korolev     4013.0    34.0    13.0     46.0    13.0     39.0
Yi Jianlian         10050.0   272.0   813.0   2012.0   192.0   2148.0
Yinka Dare           7986.0   110.0    86.0    217.0     4.0    233.0
Yogi Ferrell         6051.0    92.0   320.0    788.0   344.0    924.0
York Larese          5886.0   118.0   244.0    654.0   188.0    604.0
Yuta Tabuse          2005.0     4.0     1.0      6.0     3.0      7.0
Yvon Joseph          1986.0     1.0     0.0      0.0     0.0      2.0
Zabian Dowdell       2011.0    24.0    51.0    125.0    51.0    121.0
Zach LaVine          6048.0   206.0  1045.0   2346.0   666.0   2817.0
Zach Randolph       36170.0  1107.0  7490.0  15884.0  2025.0  18762.0
Zaid Abdul-Aziz     27629.0   570.0  1936.0   4588.0   648.0   4978.0
Zan Tabak           15983.0   304.0   679.0   1366.0   213.0   1540.0
Zarko Cabarkapa     10025.0   190.0   320.0    725.0   110.0    878.0
Zarko Paspalj        1990.0    28.0    27.0     79.0    10.0     72.0
Zaza Pachulia       28147.0   961.0  2374.0   5102.0  1233.0   6774.0
Zeke Sinicola        3906.0    12.0     5.0     20.0     3.0     13.0
Zeke Zawoluk         5862.0   179.0   396.0   1065.0   217.0   1210.0
Zeljko Rebraca      14028.0   239.0   522.0   1003.0    94.0   1367.0
Zelmo Beaty*        15737.0   570.0  3396.0   7237.0   839.0   9107.0
Zendon Hamilton     16033.0   146.0   183.0    414.0    33.0    611.0
Zoran Dragic         6045.0    32.0    22.0     60.0    10.0     56.0
Zoran Planinic       6015.0   148.0   197.0    486.0   165.0    561.0
Zydrunas Ilgauskas  26063.0   843.0  4207.0   8842.0   955.0  10976.0

[3921 rows x 6 columns]

In [8]:
#Delete year column:
del nba_career_df["Year"]

In [9]:
#Calculate averages per game per player and field goal percentage:
nba_career_df["Average_FG"]=round(nba_career_df["FG"]/nba_career_df["FGA"],2)
nba_career_df["Average_AST"]=round(nba_career_df["AST"]/nba_career_df["G"],2)
nba_career_df["Average_PTS"]=round(nba_career_df["PTS"]/nba_career_df["G"],2)

nba_career_df

,G,FG,FGA,AST,PTS,Average_FG,Average_AST,Average_PTS
Player,,,,,,,,
A.C. Green,1361.0,4778.0,9686.0,1469.0,12928.0,0.49,1.08,9.50
A.J. Bramlett,8.0,4.0,21.0,0.0,8.0,0.19,0.00,1.00
A.J. English,151.0,617.0,1418.0,320.0,1502.0,0.44,2.12,9.95
A.J. Guyton,80.0,166.0,440.0,147.0,442.0,0.38,1.84,5.52
A.J. Hammons,22.0,17.0,42.0,4.0,48.0,0.40,0.18,2.18
A.J. Price,287.0,600.0,1581.0,613.0,1656.0,0.38,2.14,5.77
A.J. Wynder,6.0,3.0,12.0,8.0,12.0,0.25,1.33,2.00
A.W. Holt,6.0,1.0,8.0,0.0,4.0,0.12,0.00,0.67
Aaron Brooks,797.0,2829.0,6893.0,2485.0,7839.0,0.41,3.12,9.84
Aaron Gordon,205.0,760.0,1652.0,311.0,1981.0,0.46,1.52,9.66
Aaron Gray,387.0,509.0,1007.0,251.0,1235.0,0.51,0.65,3.19
Aaron Harrison,26.0,5.0,23.0,5.0,19.0,0.22,0.19,0.73
Aaron James,356.0,1609.0,3347.0,370.0,3829.0,0.48,1.04,10.76
Aaron McKie,957.0,2554.0,5923.0,2462.0,6636.0,0.43,2.57,6.93
Aaron Miles,19.0,6.0,18.0,24.0,16.0,0.33,1.26,0.84
Aaron Swinson,9.0,10.0,18.0,3.0,24.0,0.56,0.33,2.67
Aaron Williams,838.0,1777.0,3577.0,525.0,4618.0,0.50,0.63,5.51
Abdul Jeelani,143.0,475.0,1005.0,160.0,1290.0,0.47,1.12,9.02
Acie Earl,240.0,428.0,1076.0,81.0,1168.0,0.40,0.34,4.87
Acie Law,265.0,379.0,898.0,419.0,1053.0,0.42,1.58,3.97
Adam Harrington,38.0,22.0,74.0,24.0,60.0,0.30,0.63,1.58
Adam Keefe,617.0,1120.0,2230.0,427.0,3107.0,0.50,0.69,5.04
Adam Morrison,213.0,547.0,1475.0,263.0,1409.0,0.37,1.23,6.62
Adonal Foyle,743.0,1325.0,2777.0,345.0,3006.0,0.48,0.46,4.05
Adonis Jordan,10.0,8.0,27.0,22.0,21.0,0.30,2.20,2.10
Adonis Thomas,12.0,12.0,28.0,6.0,28.0,0.43,0.50,2.33
Adreian Payne,134.0,258.0,639.0,96.0,621.0,0.40,0.72,4.63
Adrian Branch,130.0,331.0,727.0,96.0,834.0,0.46,0.74,6.42
Adrian Caldwell,242.0,204.0,430.0,45.0,491.0,0.47,0.19,2.03
Adrian Dantley*,1107.0,9217.0,17203.0,3254.0,26274.0,0.54,2.94,23.73
...,...,...,...,...,...,...,...,...
Worthy Patterson,4.0,3.0,8.0,2.0,7.0,0.38,0.50,1.75
Xavier Henry,185.0,368.0,907.0,120.0,1050.0,0.41,0.65,5.68
Xavier McDaniel,951.0,6263.0,12871.0,1962.0,14979.0,0.49,2.06,15.75
Xavier Munford,14.0,32.0,77.0,22.0,80.0,0.42,1.57,5.71
Xavier Silas,2.0,4.0,15.0,3.0,11.0,0.27,1.50,5.50
Yakhouba Diawara,187.0,233.0,653.0,122.0,655.0,0.36,0.65,3.50
Yao Ming*,486.0,3380.0,6445.0,769.0,9247.0,0.52,1.58,19.03
Yaroslav Korolev,34.0,13.0,46.0,13.0,39.0,0.28,0.38,1.15
Yi Jianlian,272.0,813.0,2012.0,192.0,2148.0,0.40,0.71,7.90
Yinka Dare,110.0,86.0,217.0,4.0,233.0,0.40,0.04,2.12
Yogi Ferrell,92.0,320.0,788.0,344.0,924.0,0.41,3.74,10.04
York Larese,118.0,244.0,654.0,188.0,604.0,0.37,1.59,5.12
Yuta Tabuse,4.0,1.0,6.0,3.0,7.0,0.17,0.75,1.75
Yvon Joseph,1.0,0.0,0.0,0.0,2.0,NaN,0.00,2.00
Zabian Dowdell,24.0,51.0,125.0,51.0,121.0,0.41,2.12,5.04
Zach LaVine,206.0,1045.0,2346.0,666.0,2817.0,0.45,3.23,13.67
Zach Randolph,1107.0,7490.0,15884.0,2025.0,18762.0,0.47,1.83,16.95
Zaid Abdul-Aziz,570.0,1936.0,4588.0,648.0,4978.0,0.42,1.14,8.73
Zan Tabak,304.0,679.0,1366.0,213.0,1540.0,0.50,0.70,5.07
Zarko Cabarkapa,190.0,320.0,725.0,110.0,878.0,0.44,0.58,4.62
Zarko Paspalj,28.0,27.0,79.0,10.0,72.0,0.34,0.36,2.57
Zaza Pachulia,961.0,2374.0,5102.0,1233.0,6774.0,0.47,1.28,7.05
Zeke Sinicola,12.0,5.0,20.0,3.0,13.0,0.25,0.25,1.08
Zeke Zawoluk,179.0,396.0,1065.0,217.0,1210.0,0.37,1.21,6.76
Zeljko Rebraca,239.0,522.0,1003.0,94.0,1367.0,0.52,0.39,5.72
Zelmo Beaty*,570.0,3396.0,7237.0,839.0,9107.0,0.47,1.47,15.98
Zendon Hamilton,146.0,183.0,414.0,33.0,611.0,0.44,0.23,4.18
Zoran Dragic,32.0,22.0,60.0,10.0,56.0,0.37,0.31,1.75
Zoran Planinic,148.0,197.0,486.0,165.0,561.0,0.41,1.11,3.79
Zydrunas Ilgauskas,843.0,4207.0,8842.0,955.0,10976.0,0.48,1.13,13.02

In [11]:
#Select columns from nba postions dataframe:
nba_positions=nba_player_data_df[["name","position"]].copy()
nba_positions.rename(columns={"name": "Player", "position": "Pos"}, inplace=True)
nba_positions.head()

                Player  Pos
0       Alaa Abdelnaby  F-C
1      Zaid Abdul-Aziz  C-F
2  Kareem Abdul-Jabbar    C
3   Mahmoud Abdul-Rauf    G
4    Tariq Abdul-Wahad    F

# Load Dataframes into database

In [10]:
connection_string = f"mysql://root:{'Ygy_314159'}@localhost:3306/player_db"

engine = create_engine(connection_string)

ModuleNotFoundError: No module named 'MySQLdb'

In [44]:
#Confirm tables:
engine.table_names()

['nba_career_data', 'nba_salary_data_tb']

In [45]:
#Load salary data into database
nba_salary_data.to_sql(name = 'nba_salary_data_tb',con=engine, if_exists = 'append', index = True)

In [46]:
#Confirm:
pd.read_sql_query('SELECT * FROM nba_salary_data_tb', con=engine)

                  Player Team    Salary
0           A.J. Hammons  MIA   1312611
1           Aaron Brooks  MIN   2116955
2           Aaron Gordon  ORL   5504420
3             Aaron Gray  DET    452059
4            Abdel Nader  BOS   1167333
5             Al Horford  BOS  27734405
6           Al Jefferson  IND   9769821
7        Al-Farouq Aminu  POR   7319035
8          Alan Williams  PHO   6000000
9             Alec Burks  UTA  10845506
10          Alex Abrines  OKC   5725000
11              Alex Len  PHO   4187599
12        Alex Poythress  IND    778668
13         Alexis Ajinca  NOP   4961798
14      Alfonzo McKinnie  TOR    815615
15          Allen Crabbe  BRK  19332500
16          Amir Johnson  PHI  11000000
17      Anderson Varejao  POR   1913345
18        Andre Drummond  DET  23775506
19        Andre Iguodala  GSW  14814815
20        Andre Roberson  OKC   9259259
21          Andrew Bogut  LAL   2328652
22       Andrew Harrison  MEM   1312611
23      Andrew Nicholson  POR   2844429
24        Andrew Wiggins  MIN   7574322
25            Ante Zizic  CLE   1645200
26         Anthony Davis  NOP  23775506
27      Anthony Tolliver  SAC   3290000
28    Antonius Cleveland  DAL     92160
29           Aron Baynes  BOS   4328000
..                   ...  ...       ...
505         Tyler Zeller  MIL   1709538
506         Tyreke Evans  MEM   3290000
507       Tyson Chandler  PHO  13000000
508           Tyus Jones  MIN   1471382
509        Udonis Haslem  MIA   2328652
510         V.J. Beachem  LAL     50000
511          Vander Blue  LAL     50000
512       Victor Oladipo  IND  21000000
513         Vince Carter  SAC   8000000
514         Vince Hunter  MEM     50000
515         Wade Baldwin  POR   1874400
516      Walt Lemon, Jr.  NOP     92160
517      Wayne Ellington  MIA   6270000
518         Wayne Selden  MEM   1312611
519        Wesley Iwundu  ORL   1050000
520       Wesley Johnson  LAC   5881260
521      Wesley Matthews  DAL  17884176
522          Will Barton  DEN   3533333
523  Willie Cauley-Stein  SAC   3704160
524          Willie Reed  CHI   1577230
525    Willy Hernangomez  CHO   1435750
526      Wilson Chandler  DEN  12016854
527  Xavier Rathan-Mayes  MEM     46080
528      Yakuba Ouattara  BRK     50000
529         Yogi Ferrell  DAL   1312611
530         Zach Collins  POR   3057240
531          Zach LaVine  CHI   3202217
532        Zach Randolph  SAC  12307692
533        Zaza Pachulia  GSW   3477600
534              Zhou Qi  HOU    815615

[535 rows x 3 columns]

In [48]:
#Load career data into database:
nba_career_df.to_sql(name = 'nba_career_data',con=engine, if_exists = 'append', index = True)

In [49]:
#Confirm:
pd.read_sql_query('SELECT * FROM nba_career_data', con=engine)

,Player,G,FG,FGA,AST,PTS,Average_FG,Average_AST,Average_PTS
0,A.C. Green,1361,4778,9686,1469,12928,0.49,1.08,9.50
1,A.J. Bramlett,8,4,21,0,8,0.19,0.00,1.00
2,A.J. English,151,617,1418,320,1502,0.44,2.12,9.95
3,A.J. Guyton,80,166,440,147,442,0.38,1.84,5.52
4,A.J. Hammons,22,17,42,4,48,0.40,0.18,2.18
5,A.J. Price,287,600,1581,613,1656,0.38,2.14,5.77
6,A.J. Wynder,6,3,12,8,12,0.25,1.33,2.00
7,A.W. Holt,6,1,8,0,4,0.12,0.00,0.67
8,Aaron Brooks,797,2829,6893,2485,7839,0.41,3.12,9.84
9,Aaron Gordon,205,760,1652,311,1981,0.46,1.52,9.66
10,Aaron Gray,387,509,1007,251,1235,0.51,0.65,3.19
11,Aaron Harrison,26,5,23,5,19,0.22,0.19,0.73
12,Aaron James,356,1609,3347,370,3829,0.48,1.04,10.76
13,Aaron McKie,957,2554,5923,2462,6636,0.43,2.57,6.93
14,Aaron Miles,19,6,18,24,16,0.33,1.26,0.84
15,Aaron Swinson,9,10,18,3,24,0.56,0.33,2.67
16,Aaron Williams,838,1777,3577,525,4618,0.50,0.63,5.51
17,Abdul Jeelani,143,475,1005,160,1290,0.47,1.12,9.02
18,Acie Earl,240,428,1076,81,1168,0.40,0.34,4.87
19,Acie Law,265,379,898,419,1053,0.42,1.58,3.97
20,Adam Harrington,38,22,74,24,60,0.30,0.63,1.58
21,Adam Keefe,617,1120,2230,427,3107,0.50,0.69,5.04
22,Adam Morrison,213,547,1475,263,1409,0.37,1.23,6.62
23,Adonal Foyle,743,1325,2777,345,3006,0.48,0.46,4.05
24,Adonis Jordan,10,8,27,22,21,0.30,2.20,2.10
25,Adonis Thomas,12,12,28,6,28,0.43,0.50,2.33
26,Adreian Payne,134,258,639,96,621,0.40,0.72,4.63
27,Adrian Branch,130,331,727,96,834,0.46,0.74,6.42
28,Adrian Caldwell,242,204,430,45,491,0.47,0.19,2.03
29,Adrian Dantley*,1107,9217,17203,3254,26274,0.54,2.94,23.73
...,...,...,...,...,...,...,...,...,...
3891,Worthy Patterson,4,3,8,2,7,0.38,0.50,1.75
3892,Xavier Henry,185,368,907,120,1050,0.41,0.65,5.68
3893,Xavier McDaniel,951,6263,12871,1962,14979,0.49,2.06,15.75
3894,Xavier Munford,14,32,77,22,80,0.42,1.57,5.71
3895,Xavier Silas,2,4,15,3,11,0.27,1.50,5.50
3896,Yakhouba Diawara,187,233,653,122,655,0.36,0.65,3.50
3897,Yao Ming*,486,3380,6445,769,9247,0.52,1.58,19.03
3898,Yaroslav Korolev,34,13,46,13,39,0.28,0.38,1.15
3899,Yi Jianlian,272,813,2012,192,2148,0.40,0.71,7.90
3900,Yinka Dare,110,86,217,4,233,0.40,0.04,2.12
3901,Yogi Ferrell,92,320,788,344,924,0.41,3.74,10.04
3902,York Larese,118,244,654,188,604,0.37,1.59,5.12
3903,Yuta Tabuse,4,1,6,3,7,0.17,0.75,1.75
3904,Yvon Joseph,1,0,0,0,2,NaN,0.00,2.00
3905,Zabian Dowdell,24,51,125,51,121,0.41,2.12,5.04
3906,Zach LaVine,206,1045,2346,666,2817,0.45,3.23,13.67
3907,Zach Randolph,1107,7490,15884,2025,18762,0.47,1.83,16.95
3908,Zaid Abdul-Aziz,570,1936,4588,648,4978,0.42,1.14,8.73
3909,Zan Tabak,304,679,1366,213,1540,0.50,0.70,5.07
3910,Zarko Cabarkapa,190,320,725,110,878,0.44,0.58,4.62
3911,Zarko Paspalj,28,27,79,10,72,0.34,0.36,2.57
3912,Zaza Pachulia,961,2374,5102,1233,6774,0.47,1.28,7.05
3913,Zeke Sinicola,12,5,20,3,13,0.25,0.25,1.08
3914,Zeke Zawoluk,179,396,1065,217,1210,0.37,1.21,6.76
3915,Zeljko Rebraca,239,522,1003,94,1367,0.52,0.39,5.72
3916,Zelmo Beaty*,570,3396,7237,839,9107,0.47,1.47,15.98
3917,Zendon Hamilton,146,183,414,33,611,0.44,0.23,4.18
3918,Zoran Dragic,32,22,60,10,56,0.37,0.31,1.75
3919,Zoran Planinic,148,197,486,165,561,0.41,1.11,3.79
3920,Zydrunas Ilgauskas,843,4207,8842,955,10976,0.48,1.13,13.02

In [ ]:
#Load postion data into databse:
nba_positions_df.to_sql(name = 'nba_position_data',con=engine, if_exists = 'append', index = True)

In [ ]:
#Confirm:
pd.read_sql_query('SELECT * FROM nba_position_data', con=engine)

In [50]:
#Join tables on player name:
query = """
SELECT
b.Player, a.G, a.FG, a.FGA, a.AST, a.PTS, a.Average_FG, a.Average_AST, a.Average_PTS, b.Team, c.Pos, b.Salary,
FROM nba_career_data AS A
INNER JOIN nba_salary_data_tb AS B ON A.Player = B.Player
INNER JOIN nba_position_data AS C ON A.Player = C.Player
"""
#Confirm:
pd.read_sql_query(query, con=engine).head()

,Player,G,FG,FGA,AST,PTS,Average_FG,Average_AST,Average_PTS,Player,Team,Salary
0,A.J. Hammons,22,17,42,4,48,0.40,0.18,2.18,A.J. Hammons,MIA,1312611
1,Aaron Brooks,797,2829,6893,2485,7839,0.41,3.12,9.84,Aaron Brooks,MIN,2116955
2,Aaron Gordon,205,760,1652,311,1981,0.46,1.52,9.66,Aaron Gordon,ORL,5504420
3,Aaron Gray,387,509,1007,251,1235,0.51,0.65,3.19,Aaron Gray,DET,452059
4,Al Horford,646,3923,7427,1926,9240,0.53,2.98,14.30,Al Horford,BOS,27734405